header,
footer {
    background-color: teal;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
}

main {
    background-color: whitesmoke;
    padding-top: 1%;
    padding-bottom: 3%;
}

.pokemon h2,
p {
    text-align: center;
    /* clear: both; */
    padding-bottom: 10%;
}

.pokemon {
    padding: 3% 0 1% 0;
    position: relative;
    /* padding-bottom: 3%; */
}

.btn {
    /* margin-top: 50%; */
    /* border-top: 50px; */
    background-color: teal;
    color: white;
    width: 80%;
    bottom: 0px;
    border-left: 10%;
    right: 10%;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-top: 0; */
    position: absolute;
}

.img-poke {
    width: 100%;
}

footer {
    color: lightblue;
}

footer a {
    text-decoration: none;
    color: lightblue;
}